/* App.css */

:root {
  --primary: #82d4bb;
  --secondary: #82c09a;
  --tertiary: #82ac9f;
  --fourth: #829298;
  --fifth: #94778b;
}

html {
  font-family: sans-serif, monospace;
  background: linear-gradient(135deg, #82d4bb, #82c09a, #82ac9f);
  animation: gradientAnimation 8s ease infinite;
  color: #4a5255;
  background-size: 200% 200%;
}

body {
  width: 100%;
  height: 100%;
}

.headerDiv {
  padding: 20px;
  text-align: center;
}

#quote {
  font-size: 15px;
}

.headerDiv h1 {
  font-size: 4.5rem;
  margin: 20px 0;
}

.appDiv {
  display: flex;
  /* justify-content: space-between;  */
  padding: 20px;
}

button {
  background: #619aa9;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-right: 5px;
}

button:hover {
  background: #14a5fb;
}

button:focus {
  outline: none;
}

.appDiv {
  display: flex;
  justify-content: center;
}

/* Card.css */

/* GoalCreator css */

/* Pop-in animation for the login box */

/* Login button styles */

/* Regular Login button */

/* Heading and text styles */

/* Background gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#quote {
  animation-duration: 2s;
  animation-name: fadeIn;
}
